
		<div class="container">
			<div class="row">
				<main class="col-md-12">



                    <!DOCTYPE html>
                    <html lang="en">
                    <head>
                        <meta charset="UTF-8">
                        <meta name="viewport" content="width=device-width, initial-scale=1.0">
                        <title>About Esha Kader</title>
                    </head>
                    <body>
                        <h2>Welcome to my page!</h2>
                        <p>My name is Esha Kader. I am a student in the BTT program at Seneca. You can call me ESHA!</p>
                    
                        <h3>About me:</h3>
                        <p>I am a student at Seneca College. My student ID number is 143814234. I am currently enrolled in the BTT program, where I am acquiring comprehensive knowledge and skills in web development and related technologies.</p>
                        <h5>Professional Highlights:</h5>
                        <p>• Gained over two years of valuable experience working with a SaaS platform company.</p>
                        <p>• Collaborated effectively with teams across the APAC region, including countries such as Bangladesh, India, Indonesia, Vietnam, and Thailand.</p>
                        <p>• Demonstrated expertise in managing the entire project lifecycle, from requirement gathering to configuration and ongoing support.</p>
                        <p>• Led the Reports Migration initiative successfully, showcasing strong knowledge in project management and CRM.</p>
                        <p>• Proficient in using the Jira project management tool.</p>
                        <p>• Experienced in Python and Windows Administration.</p>
                        <p>• Currently pursuing interests in project management and data analysis.</p>
                        <p>• Skilled in using Excel and MS Project.</p>
                    </body>
                    </html>
                    



				</main>
			</div>
		</div>
